<!--
<div>

  <h1>Bienvenu sur </h1>

  <script>
    var x = 3;
    alert('hello there, I am JavaScript - x is ' + x);
  </script>
</div>


<div ng-app = "démo" ng-controller ="myController">
     <div ng-repeat ="p in myObj">
       {{p}}
     </div>
</div>


<script>
   var app= angular.module('demo', [])
   .controller('myController', function ($scope){
      $scope.myObj = {
        $name: 'M',
        realAge:90,
        $age: 32,
        qualification : 'Graduate' };
   })

   var x = 3;
   alert('hello there, I am JavaScript - x is ' + x);

</script>

-->


// Simple Addition Function in Javascript

<div>
  <h1> aurevoi</h1>
  function add(a, b) {
  return a+b
  }
  console.log(add(4, 6))
</div>

